<div class="container">
 <div class="row">
   <app-localiza></app-localiza>
 </div>  
<div class="row">
<div class="col-lg-5">
    <app-contato-form [contato]="contato" (saveContato)="saveContato($event)" ></app-contato-form>
</div>
<div class="col-lg-7" style="margin-top: 10px">
  <!-- Tenho que imformao yemplete quais os metodos estou paspassa;; -->
  <app-contato-list [contatos]="contatos" (editContato)="edit($event)" (deleteContato)="delete($event)" ></app-contato-list>
</div>

</div>

</div>
